.cursor {
    width: 5rem;
    height: 5rem;
    border: 2px solid none;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    /* transition: all 0.3s ease; */
    /* transition-property: background, transform; */
    /* transform-origin: 100% 100%; */
    backdrop-filter: invert();
  }
/* .mouse-grow {
    transform: scale(2);
    background: black;
} 

.hovered-item {
    color: white;
} */
