@media screen and (max-width:1024px){
  .images-div{
    column-count: 3;
  }
  .section-about {
    height: fit-content;
  }
  .cursor-circle{display: none;}
}

  @media screen and (max-width:768px){
    nav {
      width: 8rem;
      overflow: hidden;
      
    }
    .nav-vertical-links {
      justify-content: flex-end;
      height: 90%;
    }
    
    .nav-vertical-links li {
      padding: 2rem 0rem;
    }
    .nav-vertical-links a{
      font-size: 1.2rem;
    }
    .burger {
      position: fixed;
      transform: translateX(-2.5rem);
      top: 93%;
    }  

    .picture-original-center { display: none;}
    .picture-original-left { display: none;}
    .picture-original-right { display: none;}
    .picture-copy-right { display: none;}
    .picture-copy-center { display: none;}
    .scrollIconContainer { display: none;}

    .name-artist { 
      font-size: 3rem;
      width: 23rem;
    }
    .my-works{
      font-size: 2rem;
    }
    .parallax-container {
      height: 20vh;
    }
    .images-div{
      column-count: 2;
    }
    .caption{
      padding: 3%;
    }
    .section-paintings h4{
      font-size: 1.2rem;
    }

    .section-exhibitions{
      height: auto;
      width: 100vw;
      display: flex;
      flex-flow: column nowrap;
    }
    .section-exhibitions-title{
      position: relative;
      align-self: flex-start;
      height: 2rem;
      font-size: 1.2rem;
      padding: 10% 0%;
      margin-top: 0%;
    }
    .exh{
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between; 
      align-content: space-between;
      width: 100%;
      padding-bottom: 10%;
    }
    .exh-text{
      width: 65%;
      padding-top: 10% 
    }

    .section-contacts{
      height: 20vh;
    }
    .curve2 { bottom: 90%; }
    .section-contacts a { padding-top: 10%; }
    
  }
  