@media screen and (max-width:1024px){
    .section-images{
      column-count: 3;
    }
    .section-about {
      height: fit-content;
    }
    .flex{
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }
    .full-img{
      max-height: 90%;
      max-width: 100%;
    }

    /* height: auto;
    max-width: 100%; */


    /* .vertical{
      height: 80%;
    }
    .horizontal{
      width: 80%;
    } */
}

  @media screen and (max-width:768px){
    nav {
      width: 8rem;
      overflow: hidden;
    }
    .nav-vertical-links {
      padding: 2%;
      bottom: 0%;
      padding-bottom: 80%;
      justify-content: flex-end;
    }
    .nav-vertical-links li {
      padding-top: 20%;
    }
    .nav-vertical-links a{
      font-size: 1.2rem;
    }
    .burger {
      position: fixed;
      transform: translateX(-2.5rem);
      /* right: 8em; */
      /* height: 5%; */
      top: 93%;
    }  
    /* .bar { 
      width: 40px;
      height: 3px;
      margin-top: 8px;
    }
    .toggle .line1{
      transform: rotate(-45deg) translate(-7px, 6px);
    }
    .toggle .line3{
      transform: rotate(45deg) translate(-7px, -10px);
    } */
    .cursor-circle{
      display: none;
    }
    .name {
      position: absolute;
      top: 40%;
    }

    h1 .section-about{
      opacity: 1;
    }
    .section-about{
      height: fit-content;
    }
    .about-me-text{
      font-size: 1rem;
      padding: 2%;
    }
    .section-images{
      column-count: 2;
    }
    .full-img{
      height: auto;
      max-width: 100%;
    }
    .slide-track{
      width: calc(300px * 6);
    }
    .slide{
      height: auto;
      width: 300px;
      padding: 15px;
    }
    /* .horizontal{
      width: 100%;
    }
    .vertical{
      max-height: 90%;
    } */
    .rightIconContainer{
      display: none;
    }
    .leftIconContainer{
      display: none;
    }
  
    @keyframes scroll {
      0%{
        transform: translateX(0);
      }
      100%{
        transform: translateX(calc(-300px * 3));
      }
    }
  }
  