.cursor-circle {
  width: 11rem;
  height: 11rem;
  border: 2px solid none;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
  backdrop-filter: invert();
}

.cursor-circle-hidden{
  display: none;
} 

.cursor-regular{
  display: none;
}

