@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Caveat:wght@400;500;600;700&family=Raleway&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100&family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(31, 31, 31);
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Open Sans', sans-serif;  */
}

html{
  scroll-behavior: smooth;
}

h1, 
h2, 
h3, 
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
}
 /* _______________________________________________________________________________ */
.section-welcome {
  height: 100vh;
  width: 100%;
  background-color: #5f62ca;
  overflow: hidden;
  left: 0;
}

.picture-original-center {
  height: 22rem;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: saturate(110%) brightness(110%);
  border: 0.5rem solid rgb(0, 0, 0);
  outline: 2rem solid rgb(255, 255, 255);
}
.picture-original-left {
  height: 28rem;
  position: absolute;
  left:50%;
  filter: saturate(110%) brightness(105%);
  transform: rotate(-30deg) translate(-60%, -90%);
  border: 0.5rem solid rgb(0, 0, 0);
  outline: 2rem solid rgb(255, 255, 255);
}
.picture-copy-right {
  height: 27rem;
  position: absolute;
  left:50%;
  top: 50%;
  transform: rotate(25deg) translate(0%, -50%);
  background-color: white;
  border: 0.5rem solid rgb(0, 0, 0);
  outline: 2rem solid rgb(255, 255, 255);
  filter: saturate(110%) brightness(110%);
}
.picture-copy-center{
  height: 30rem;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 0.5rem solid rgb(0, 0, 0);
  outline: 2rem solid rgb(255, 255, 255);
  filter: saturate(110%) brightness(110%);
}
.name {
  position: absolute;
  top: 45%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.name-artist { 
  font-size: 4rem;
  color: #87e9ca;
  font-weight: 900;
  overflow: hidden;
  width: auto;
}
.name-artist span {
  display: block;
  color: #eeb171;
  letter-spacing: 2px;
}
.social-media{
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 6rem;
  margin-top: 5%;
  justify-content: space-evenly;
}
.social-media-container{
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: transparent;
}
.social-media-icon {
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 100%;
  width: auto;
  border: 0;
}
.instagram{
  transform: scale(0.8)
}
.scrollIconContainer{
  position: absolute;
  z-index: 10000;
  height: 40px;
  width: 50px;
  top: 90%;
  left: 50%;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.scrollIcon{
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100% ;
  border: 0;
  animation: scrollIconMove 1s ease-in-out infinite ;
}

@keyframes scrollIconMove {
  0%  {transform: translateY(0px);}
  50%  {transform: translateY(-10px);}
  100% {transform: translateY(0px)};
}

/* #233b53 */
/*
  #FFFFFF  white
  #e0e2ed  gray
  #5f62ca  purplish
  #63bbb4  mint
  #87e9ca  bright mint

  //highlight: 
  #62a774 green
  #f8d39e font 

  #deec90 yellow back
  #d4a277 reddish font

  #eeb171 orange
  #717d76 dark gray
  */

  /* ___________________________________________________________________________________ */
.section-about {
  padding: 5% 5%; 
  height: 100vh;
  top: 0vh;
  width: 100%;
  background-color: #63bbb4 ;
  z-index: 3;
  overflow: hidden;
}
.about-me-text {
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 2;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  /* z-index: 9; */
}
/* ___________________________________________________________________________________ */
.section-paintings {
  height: auto;
  width: 100vw;
  padding-top: 15%;
  padding-bottom: 10%;
  background-color: #e8eaf7;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  z-index: 16;
}

.images-div{
  height: auto;
  width: 100vw;
  padding-top: 5%;
  padding-bottom: 10%;
  column-count: 4;
  column-gap: 5px;
  margin: 0% 1%;
}

.section-paintings h4{
  font-weight: 900;
  font-size: 2rem;
  color: #5f62ca;

  position: relative;
  padding-left: 5%;

  letter-spacing: 2px;
  font-size: 1.5rem;
}

.painting-container{
  position: relative;
  cursor: pointer;
}
.painting{
  display: block;
  width: 100%;
  margin-bottom: 5px;

}
.painting-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transition: all 0.25s;
}
.painting-name {
  padding: 15% 0% 10% 0% ;
  color: white;
  font-weight: 600;
}
.painting-description{
  color: white;
  font-weight: 400;
} 
.painting-overlay:hover {
  opacity: 1;
}

.full-img-container{
  background-color: #e8eaf7;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  transition: all .4s linear;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.open{
  opacity: 1;
  pointer-events: all;
  margin: 0;
  height: 100%;
}
.stop-scrolling{
  height: 100%; 
  overflow: hidden;
}
.full-img:hover{
  cursor: pointer;
}
.caption{
  position: relative;
  color: #313131;
  font-size: 1rem;
  margin-top: 2%;
}

.rightIconContainer{
  position: absolute;
  top: 50%;
  right: 5%;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.leftIconContainer{
  position: absolute;
  top: 50%;
  left: 5%;
  height: 3rem;
  width: 3rem;
  transform: rotate(180deg);
  border-radius: 50%;
  z-index: 1;
}
.changePicIcon{
  position: relative;
  height: 100%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.changePicIcon:hover{
  cursor: pointer;
}
.upCase {
  text-transform: uppercase;
}
/* ___________________________________________________________________________________ */
.section-exhibitions{
  height: 85vh;
  width: 100vw;
  background-color: #5f62ca;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

.section-exhibitions-title{
  position: absolute;
  z-index: 3;
  color: #fac185; 
  /*  #eeb171 */
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 4%;
}

.exh{
  position: relative;
  background-color: #63bbb4;
  height: auto;
  width: 50%;
  top: 0%;
}
.exh-1{
  background-color: #63bbb4;
}
.exh-2{
  background-color: #5f62ca;
}

.exh-1-img-wrapper{
  position: relative;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: auto;
}
.exh-img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.exh-2-img-wrapper{
  position: relative;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height:auto;
}

.exh-text{
  position: absolute;
  z-index: 2;
  background-color: #e8eaf7;
  padding: 4%;
  top: 50%;
}
.exh-text p{
  padding: 2% 0%;
}
.exh-1-text{
  padding-bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.exh-2-text{
  padding-top: 10%;
  right: 50%;
  transform: translate(50%, -50%);
}


/* ___________________________________________________________________________________ */
.section-contacts {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #e8eaf7;
}
.section-contacts a{
  font-size: 1rem;
  color: #3b3b3b;
  text-decoration: none;
}

.media-bottom-section{
  height: 2rem;
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1.5%;
}
.media-icon-container{
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: transparent;
}
.media-icon-container img{
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 100%;
  width: auto;
  border: 0;
}



  